<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>viewer</title>
</head>
<body>
<div class="bodywrap" id="bodywrap">

<div>
<p>Github: <a href="https://github.com/gitforziio/wechat-moments-viewer" target="_blank">@gitforziio/wechat-moments-viewer</a></p>
</div>

<form name="file-form" class="container">
    <div class="row" id="filePicker">
        <!-- <label for="file-input" class="col-md-2 my-2 col-form-label text-md-right">选择文件：</label> -->
        <div class="col-md-8 my-2">
            <input type="file" class="form-control" name="file-input" id="file-input" multiple="multiple" data-accept=".sqlite" />
        </div>
        <div class="btn-group col-md-4 my-2">
            <button type="button" name="do_import" id="do_import" class="btn btn-primary" v-on:click="onImport">📥</button>
        </div>
    </div>
</form>

<div>
    <div v-for="moment in moments">
        <hr />
        <p><span :data-moment-username="moment.username">{{moment.nickname}}</span> 在 <span>{{moment.createtime}} 发布：</span></p>
        <div><p v-if="moment.contentDesc" :data-moment-contentDescScene="moment.contentDescScene" :data-moment-isPrivate="moment.isPrivate">{{moment.contentDesc}}</p></div>
        <p v-if="moment.sourceNickName"><span>来自「{{moment.sourceNickName}}」</span></p>
        <p><span>点赞数: {{moment.realLikeCount}}</span><span v-if="moment.realCommentCount"> | </span><span v-if="moment.realCommentCount">评论数: {{moment.realCommentCount}}</span><span v-if="moment.withCount"> | </span><span v-if="moment.withCount">提及数: {{moment.withCount}}</span></p>
        <p v-if="moment.withUsers.length">提及的人有：<span v-for="user in moment.withUsers" :title="user.username" :data-with-createtime="user.createTime">「{{user.nickname}}」</span></p>
        <p v-if="moment.likeUsers.length">点赞的人有：<span v-for="user in moment.likeUsers" :title="user.username" :data-like-createtime="user.createTime">「{{user.nickname}}」</span></p>
        <p v-if="moment.commentUsers.length">具体评论有：</p>
        <hr />
    </div>
</div>



</div>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>