<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>viewer</title>
    <style type="text/css">
        body{font-size: 10px;}
    </style>
</head>
<body>
<div class="bodywrap" id="bodywrap">

<div>
<p>Github: <a href="https://github.com/gitforziio/wechat-moments-viewer" target="_blank">@gitforziio/wechat-moments-viewer</a></p>
</div>

<form name="file-form" class="container">
    <div class="row" id="filePicker">
        <!-- <label for="file-input" class="col-md-2 my-2 col-form-label text-md-right">选择文件：</label> -->
        <div class="col-md-8 my-2">
            <input type="file" class="form-control" name="file-input" id="file-input" multiple="multiple" data-accept=".sqlite" />
        </div>
        <div class="btn-group col-md-4 my-2">
            <button type="button" name="do_import" id="do_import" class="btn btn-primary" v-on:click="onImport">📥</button>
        </div>
    </div>
</form>

<div>
    <div v-for="moment in moments">
        <hr />
        <p><span :title="moment.username">{{moment.nickname}}</span> 在 <span>{{moment.createtime}}</span> 发布：</p>
        <div>
            <p v-if="moment.contentDesc" :data-moment-contentDescScene="moment.contentDescScene" :data-moment-isPrivate="moment.isPrivate">{{moment.contentDesc}}</p>
            <p v-if="moment.contentObj.title"><a :href="moment.contentObj.linkUrl">{{moment.contentObj.title}}</a></p>
            <p v-if="moment.contentObj.mediaList" v-for="media in moment.contentObj.mediaList"><video v-if="moment.contentObj.type==15" width="320" controls><source :src="media.dataUrl" type="video/mp4" /></video><span v-if="moment.contentObj.type==1||moment.contentObj.type==3333">图片（{{media.imgSize}}）链接： <a>{{media.dataUrl}}</a></span></p>
            <p v-if="moment.contentObj.desc"><span>{{moment.contentObj.desc}}</span></p>
            <p v-if="moment.sourceNickName"><span>来自「{{moment.sourceNickName}}」</span></p>
            <p>type: <span>{{moment.contentObj.type}}</span></p>
        </div>
        <p><span>点赞数: {{moment.realLikeCount}}</span><span v-if="moment.realCommentCount"> | </span><span v-if="moment.realCommentCount">评论数: {{moment.realCommentCount}}</span><span v-if="moment.withCount"> | </span><span v-if="moment.withCount">提及数: {{moment.withCount}}</span></p>
        <p v-if="moment.withUsers.length">提及的人有：<span v-for="user in moment.withUsers" :title="user.username" :data-with-createtime="user.createTime">「{{user.nickname}}」</span></p>
        <p v-if="moment.likeUsers.length">点赞的人有：<span v-for="user in moment.likeUsers" :title="user.username" :data-like-createtime="user.createTime">「{{user.nickname}}」</span></p>
        <p v-if="moment.commentUsers.length">具体评论有：</p>
        <div v-for="comment in moment.commentUsers">
            <p><span :title="comment.username">「{{comment.nickname}}」</span><span>[{{comment.commentID}}]</span> 在 <span>{{comment.createTime}}</span> <span v-if="comment.refUserName">对 <span :data-comment-refUserName="comment.refUserName">[{{comment.refCommentID}}]</span></span> 说道：</p>
            <p>{{comment.content}}</p>
            <div v-if="comment.snsEmojiInfoObj"><div v-if="comment.snsEmojiInfoObj.emojiInfoObj"><img :src="decodeEmojiBase64(comment.snsEmojiInfoObj)" /></div></div>
        </div>
        <hr />
    </div>
</div>



</div>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>